.container {
  margin: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.card-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.btn {
  margin-right: 10px;
  color: white;
  background-color: red;
}

.mt-3 {
  margin-top: 1rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

p {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

#head{
  height: 50px;
  justify-content: center;
  font-size: 25px;
  color: green;
  border:yellow;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(246, 165, 4, 0.1);
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content2{
  width: 800px;
  margin-top: 10px;
}


#content3{
  width: 530px;
  position:absolute;
  left:60%;
  top:14%;
}