<!-- 

<b>
  <h1>Interpolation</h1>
  Name : {{ name }}<br><br>
  Age : {{ age }}<br><br>
  Email : <input type="text" value="{{ email }}"/><br><br>

  <h1>Property Binding</h1>
  Name : <input type="text" [value]="name"/><br><br>
  Age : <input type="text" [value]="age"/><br><br>
  Email : <input type="text" [value]="email"/><br><br>

  <h1>Event Binding</h1>
  <button (click)="changeName()">Change Name</button><br><br>
  <button (click)="changeAge()">Change Age</button><br><br>
  <button (click)="changeEmail()">Change Email</button>

  <br><br>

  <img [src]="imagepath" width="300" height="200"/>

  <br><br>

  <button (click)="changeImage()">Change Image</button>
  <br>
  
  <h1>Two Way Binding</h1>
  <br>
  Enter Your First Name <input type="text" [(ngModel)]="fname"/>
  <br>
  
<b>Your Name is : {{fname}}</b>
</b> -->





<!-- 
<h1 [ngClass]="myClass">Structural and Attribute Directives</h1>
<br>
<button (click)="changeFlag()">Show or Hide Div</button>



<div *ngIf="flag" [ngStyle]="mystyle"><br>
    <br><h4>Team 7</h4>
    <ul>
      <li *ngFor = "let veh of vehicles" (click)="selectedITem(veh)">{{veh}}</li>
    </ul><br>
    <b>You are selected the member: {{selectedvehicles}}</b>
    <br><br>
    <div [ngSwitch]="selectedvehicles">
      <font color="Red" *ngSwitchCase="'Naruto'">Team Leader</font>
      <font color="green" *ngSwitchCase="'Sasuke'">Team Member</font>
      <font color="green" *ngSwitchCase="'Sakura'">Team Member</font>
      <font color="violet" *ngSwitchDefault>Invalid</font>
    </div>
    <br>
    <button (click)="changestyle()">Change Style</button>
</div>
<br> -->


<table width="100%" align="center">
  <tr>
    <th><a routerLink="home">Home</a></th>
    <th><a routerLink="about">about</a></th>
    <th><a routerLink="contact">contact</a></th>
  </tr>
</table><br>

<div>
  This is the space for new compound
  <router-outlet></router-outlet>
</div>


